body{
  padding-top:2em;
}

a.metadataform{
  border:none;
  border-color:transparent;
  outline:none;
  overflow:auto;
}

.thumbnail{
  border: 1px inset;
}


.thumbnail:hover{
  cursor:pointer;
  border: 2px inset rgba(0, 178, 238, .5);
}

