body{
  padding-top:2em;
}

.metadataform{
  border:none;
  border-color:transparent;
  outline:none;
  overflow:auto;
  resize:none;
}
.metadataform:focus{
  border:none;
  border-color:transparent;
  outline:none;
  overflow:auto;
  resize:vertical;
}

.myimg{
padding-left:15px;
padding-right:15px;
padding-bottom:15px;
padding-top:5px;
}

.myimglink{
  cursor:default;
}

.key{
  height:20px;
  width:75px;
}

.thumbnail{
  border: 1px inset;
  margin: 1px;
  margin-bottom:15px;
}
.thumbnail:hover{
  cursor:pointer;
  border: 2px inset rgba(0, 178, 238, .5);
  margin:0px;
}
.selected_thumbnail{
  background-color:#afa;
}

#colorbox .btn-mini{
	margin:5px;
}

#modaltable{
	background-color:#fff;
}

.imageholder{
  float:left;
  overflow:auto;
}

#toolbar{
  padding:5px;
  background:#eee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position:fixed;
  bottom:0;
}

.gridrow{
  clear:both;
}
